@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {

      }

  
}


body {
  margin: 0;
  background-color: #fcf9f8; 

}

.sidebar{
	background-color: #fafafa;
}

.shadow-card {
  box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 20%);
}

.HeadText{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.send-btn {
  transition: background-color 0.15s ease;
}
.send-btn:hover {
  background-color: #b8c4ff !important;
}
.send-btn:hover .send-icon {
  fill: #00288e !important;
}




.bg-gradient {
	background: linear-gradient(
		to bottom,
		rgba(177, 178, 181, 0.1) 30%,
		rgba(184, 196, 255, 1) 50%,
		rgba(177, 178, 181, 0.1) 70%
	);
	background-size: 100% 200%;
	background-position: 0% 50%;
	transition: 500ms;
}
.bg-gradient-active{
	background-position: 0% 0% !important;
}

